MEGAPOT_BASE_SEPOLIA_ADDRESS=
USDC_BASE_SEPOLIA_ADDRESS=
LORDSPOT_BASE_REWARD_WALLET_ADDRESS=
LORDSPOT_BASE_PUBLIC_ADDRESS=
LORDSPOT_BASE_SIGNER_PRIVATEKEY=
MEGAPOT_API_KEY=

# by helius : 
SOLANA_RPC_URL=
# by alchemy : 
BASE_RPC_URL=

LORDSPOT_VAULT_SEPOLIA_ADDRESS=